* {
  box-sizing: border-box;
}

.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.row {
  /* max-width: 1000px; */
  /* padding-left: 20px;
  padding-right: 20px; */
  margin: 0 auto;
}

.col-6-left {
  float: left;
  width: 47%;
  text-align: center;
  background-color: lightblue;
  margin: 10px;
  border: 3px solid azure;
  border-radius: 5px;
}

.col-6-right {
  float: right;
  width: 47%;
  text-align: center;
  background-color: lightblue;
  margin: 10px;
  border: 3px solid azure;
  border-radius: 5px;
}
